<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SarcasmDetector</title>
</head>
<body>
    <form action="/" method="post">
        <h1>Sarcasm Detector</h1>
        <textarea name="text_input" id="" cols="80" rows="10"></textarea>
        <br>
        <button type="submit">Submit</button>
    </form>
    <script>
        
    </script>
</body>
</html>